<div id="<%= dom_id comment %>">

   <h5>Esto han cometado de tu fotografia</h5>
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong><article></article>:</strong>
    <%= comment.article_id %>
      <%#= image_tag comment.article_id.images, class:"w-75" %>
  </p>

  <p>

    <% if user_signed_in? %>
   
      
        <div class="owner-avatar p-2">
           <strong>Usuario:</strong>
            <%= comment.user_id %> <%= comment.user.name %>
          <% if comment.user.avatar.present? %> 
                <%= image_tag comment.user.avatar , size: "70x70" %>  
          <% else %>
              No tienes foto de Perfil
          <% end %>
        </div>
      <%#= image_tag comment.user_id.avatar, class:"" %>
      
    <% end %>
     
  </p>

</div>